@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	transition: 0.5s;
}
body
{
	overflow-x: hidden;
	background: #5887ef;
}
.password_wrap
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 300px;
}
.password_wrap input
{
	width: 100%;
	font-size: 18px;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	color: #4a4a4a;
	letter-spacing: 0.5px;
	box-shadow: 0 5px 30px rgba(22, 89, 233, 0.4);
}
.password_wrap input::placeholder
{
	color: #9a9a9a;
	font-weight: 400;
}
.password_wrap span
{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
	cursor: pointer;
}